.external {
    color: yellow;
}

/*  Change the font-family and the font size of all elements using the universal selector */
* {
    font-family: arial;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

#inline_red {
    color: red;
}

#internal_orange {
    color: orange;
}

#external_yellow {
    color: yellow;
}

#capital_letters {
    text-transform: uppercase;
}

.languages  {
    background-color: #49c96b;
}

/*  Change the border of the tools to be used list items using a attribute selectors. */
li[required] {
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    width: 80%;
}

.first_part {
          background-color: green;
}

/*  Change the list style type of the other things to be learned list using an adjacent sibling selector. */
img + ul {
    list-style: none;

}
/* Change the dimensions of the image tag using a descendant selector. */
body img {
    height: 150px;
    width: 150px;
    border-radius: 100%;

}

/* Change the alignment of the last paragraph using a generic sibling selector */
ul ~ p {
    display: flex;
    justify-content: center;

}

/* Change the letter spacing of the other things to be learned list items using a child selector */
ul > li {
    letter-spacing: 10px;
    
}
